@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&display=swap');
:root {
  --primary-color: #ffd11a;
  --primary-dark-color: #ff9c1a;
  --second-color:  #ff33ff;
  --second-dark-color:  #db11db;
  --third-color: #00fdfd;
  --gray-color: #f2f2f2;
  --background-song-color:  linear-gradient(-45deg,#ffe680,#ffb3ff,#ffe680,#ffb3ff);
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #eee;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent; 
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  padding: 16px 16px 14px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 100;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

header {
  text-align: center;
}

header h4 {
  color: var(--primary-color);
  font-size: 12px;
  user-select: none;
}

header h2 {
  color: var(--text-color);
  font-size: 22px;
  padding: 5px 0;
  text-shadow: 0px 0px 2px transparent;
}

.singer h3{
  text-align: center;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  color: #999;
  letter-spacing: 2px;
  text-shadow: 0px 0px 2px #999;
}

.cd {
  /* display: block;
  width: 200px;
  margin: auto; */
  display: block;
  width: 240px;
  margin: auto;
  padding: 5px;
  border:double var(--primary-color);
  border-width:  5px ;
  border-radius: 50%;
}

.cd-thumb {
  /* padding-top: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  border-radius: 50%;
  padding-top: 100%;
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover ;
  position: relative;
}
.cd-thumb-inner-1,
.cd-thumb-inner-2 {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left:0;
}

.cd-thumb-inner-1 {
  width: 0;
  height: 0;
  background-color: rgba(255,255,255,0.35);
  border: 1px solid var(--primary-color);
}

.cd-thumb-inner-2 {
  width: 0;
  height: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border: 1px solid #333;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 10px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.btn:active {
  color: var(--primary-color);
  
}

.btn-toggle-play:active {
  color: #fff;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 55px;
  height: 55px;
  background: linear-gradient(45deg,var(--primary-color),var(--second-color));
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 8px var(--second-dark-color);
}

.btn-random.active, .btn-repeat.active {
  color: var(--primary-color);
}

.control-volume {
  position: relative;
}

.control-volume-wrap {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-62%);
  display: flex;
}

.volume {
  flex: 1;
  margin: auto;
  -webkit-appearance: none; /*Cái này phải none thì mới set background được*/
  background: #d3d3d3;
  height: 8px;
  outline: none;
  /* position: relative; */
  border-radius: 50px;
  overflow: hidden;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;/*Cái này phải none thì mới set background được*/
  background: linear-gradient(-90deg,var(--second-color),var(--second-dark-color));
  width: 8px;
  height: 8px;
  cursor: pointer;
  box-shadow: -504px 0px 0px 500px  var(--second-color);
  border-radius: 50px;
}

.control-volume {
  /* position: relative; */
}

.btn-toggle-volume {
  width: 40px;
  height: 40px;
  color: #666;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-toggle-volume .icon-volume-up,
.btn-toggle-volume .icon-volume-mute {
  position: absolute;
  left: 8px;
}

.btn-toggle-volume .icon-volume-up {
  display: none;
}

.btn-toggle-volume.going-up .icon-volume-up {
  display: flex;
}

.btn-toggle-volume.going-up .icon-volume-mute {
  display: none;
}

.btn-toggle-volume:active {
  color: #444444;
}

.progress {
  /* width: 100%;
  overflow: hidden;
  -webkit-appearance: none;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; */
  width: 100%;
  -webkit-appearance: none; /*Cái này phải none thì mới set background được*/
  background: #d3d3d3;
  height: 8px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  /*Ẩn đi 1 phần cái nút tròn nên nhìn thấy nó ngang*/
  transition: opacity .2s linear; 
  border-radius: 50px;
  overflow: hidden; 
}

.progress:hover {
  opacity: 1;
}

/*cái nút kéo*/
.progress::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  cursor: pointer;
  width: 12px;
  height: 6px; 
  background: var(--primary-color);
  box-shadow: -500px 0 0 500px var(--primary-color); */
  -webkit-appearance: none;/*Cái này phải none thì mới set background được abc*/
  background: linear-gradient(90deg,var(--primary-color),var(--primary-dark-color));
  width: 8px;
  height: 8px;
  cursor: pointer;
  box-shadow: -504px 0px 0px 500px  var(--primary-color);
  border-radius: 50%;
}
/* 
.progress:hover::-webkit-slider-thumb {
  background: var(--primary-color);
  box-shadow: -500px 0 0 500px var(--primary-color);
} */

.playlist {
  padding: 12px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  background: var(--background-song-color) ; 
  margin-top: 496px;
}
.song,
.song-wrap,
.song::before,
.song::after {
  border-radius: 5px;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgb(0 0 0 / 40%);
  cursor: pointer;
  transition: all .2s ease;
  position: relative;
  -webkit-tap-highlight-color: transparent; 
  /* border: 1px solid var(--primary-color); */
}

.song:hover {
  transform: scale(1.025);
  /* box-shadow: 0 0 10px 3px var(--primary-color); */
}

.song::before,
.song::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: ease .2s;

}

.song:hover::before{
  inset: -3px;
}

.song:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.song::before,
.song::after {
    background: linear-gradient(45deg,var(--third-color),transparent,transparent,var(--second-color));
} 

.song-wrap {
  z-index:2;
  padding: 8px 16px;
  background-color: #fff;
  position:relative; 
  /*top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.song-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  right: -75%;
  /* background-color: #68686828; */
  background-color: var(--gray-color);
  width: 100%;
  height: 100%;
  transform: skew(-25deg);
}

.song-wrap.active {
  background-color: var(--primary-color);
}
.song-wrap.active::before  {
  background-color:  rgb(0 0 0 / 5%);

}

.song-wrap.active .title{
  color: #fff;
  text-shadow: 0 2px 5px #333;
}

.song-wrap.active .author {
  color: var(--text-color);
}

.song-wrap.active .option {
  color: #fff;
}

.song:active {
  opacity: 0.6;
}

/* .song:active ~ .song-wrap::before {
 background-color: #faea0b28; 
} */

.song.active .title, .song.active .author, .song.active .option {
  color: #ffffff;
}

.song .thumb {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 8px;
  border: 3px solid #fff;
  
}

.song .body {
  flex: 1;
  padding: 0 16px;
  z-index: 10;
}

.song .title {
  margin-bottom: 4px;
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
  letter-spacing: 2px;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
  z-index: 10;
  color:#333;
}
